@model CookingApp.Models.Category

@{
    ViewData["Title"] = "Recipes for " + Model.Name;
}

<h2>Recipes for @Model.Name</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Instructions</th>
            <th>Ingredients</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Recipes)
        {
            <tr>
                <td>@recipe.Name</td>
                <td>@recipe.Instructions</td>
                <td>
                    <ul>
                        @foreach (var recipeIngredient in recipe.RecipeIngredients)
                        {
                            <li>@recipeIngredient.Ingredient.Name</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
